@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.login-container {
    background: #fff;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #999;
    border-radius: 6px;
}

.login-container button {
    width: 95%;
    padding: 12px;
    background: #007bff;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.login-container button:hover {
    background: #005dd1;
}

.msg {
    margin-top: 10px;
    color: red;
}


.forgot {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #007bff;
}

.forgot:hover {
    text-decoration: underline;
}

/* ---- MODAL ---- */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    margin-bottom: 10px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.close {
    background: #999;
    color: white;
}

.close:hover {
    background: #777;
}


.social-login {
    margin-top: 20px;
}

.social-login button {
    width: 95%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
    font-weight: bold;
}

.google-btn {
    background: white;
    border: 1px solid #999;
}

.linkedin-btn {
    background: #0077b5;
    color: white;
}

.google-btn:hover {
    background: #eee;
}

.linkedin-btn:hover {
    background: #005f8e;
}
